<div class = "wrapper">
    <footer>
        <div class ="container">
            <div class = "row">
                
                <div class = "col-md-4">
                    <h4>CarSenziki</h4>
                    <ul>
                      <li><%= link_to "トップページ", root_path %></li>
                      <li><%= link_to "新規登録", signup_path %></li>
                    </ul>
                </div>
                  
                <div class = "col-md-4">
                    <ul>
                        <h4>その他の成果物・ブログ</h4>
                            <li><%= link_to "Nevillog", 'https://nevillog.com' %></li>
                            <li><%= link_to "Programenter", 'https://taichiwatabe.github.io/programenter/' %></li>
                            
                    </ul>
                </div>
                  
                <div class = "col-md-4">
                    <h4>Social link</h4>
                    <li class = "twitter"><%= link_to "Twitter", 'https://twitter.com/nevillog_722', class: 'my-parts', :target => "_blank" %></li>
                </div>
                  
                </div>
          </div>
          <p>&copy; 2020 CarSenziki Taichi Watabe .</p>
    </footer>
</div>