  <div class = "header">
    <nav class="navbar navbar-default navbar-static-top">
      <div class = "carnavi">
        <%= link_to image_tag("myicon.png", :id => "icon"), root_path %>
      </div>
      <div class="cp_cont">
      	<div class="cp_offcm01">
       		<input type="checkbox" id="cp_toggle01">
       		<label for="cp_toggle01"><span></span></label>
          <div class="cp_menu">
            <ul>
              <li><%= link_to "トップページ", root_path %></li>
                
              <% if logged_in? %>
                <li><%= link_to "マイページ", current_user %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
             	<% else %>
             		<li><%= link_to "新規登録", signup_path %></li>
             		<li><%= link_to "ログイン", login_path %></li>
             	<% end %>
            </ul>
          </div>
        </div>
      </div>
     </nav>
  </div>