<!DOCTYPE html>
<html>
  <head>
    <title>CarSenziki</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/068ffe27ac.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id="topScroll" class="topIcon" onclick="goTop()">⬆︎</div>
  <%= render 'shared/header' %>

  <body>
    <container>
      <div class = "container">
      <% flash.each do |message_type, message| %>
        <h3 class=" flashes-<%= message_type %>"><%= message %></h3>
      <% end %>
          <%= yield %>
      </div>
    </container>
    
    <%= render 'shared/footer' %>
  </body>
</html>
