<!DOCTYPE html>
<html>
  <head>
    <title>CarSenziki</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class = "header">
    <nav class = "navbar-fixed-top">
      <div class = "carnavi">
        <%= link_to image_tag("myicon.png", :id => "icon"), root_path %>
      </div>
      <div class="cp_cont">
      	<div class="cp_offcm01">
       		<input type="checkbox" id="cp_toggle01">
       		<label for="cp_toggle01"><span></span></label>
          <div class="cp_menu">
            <ul>
           		<li><%= link_to "トップページ", root_path %></li>
            </ul>
          </div>
        </div>
      </div>
     </nav>
  </div>
  <body>
    <container>
      <div class = "container">
        <div class = "row">
          <%= yield %>
        </div>
      </div>
    </container>
    
    <div class = "wrapper">
      <footer>
        <small>&copy; 2020 CarSenziki Taichi Watabe .</small>
      </footer>
    </div><!--/.wrapper-->
  </body>
</html>
